@import "assets/scss/config/fonts";
@import "assets/scss/config/reset";
@import "assets/scss/config/vars";
@import "assets/scss/config/utility";
@import "assets/scss/modules/typography";
@import "assets/scss/modules/fields";
@import "assets/scss/modules/buttons";
@import "assets/scss/modules/toast";
@import "assets/scss/config/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  --gap: 15px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bcs-grey-4);
  padding: 10px;
}

.zipcode {
  display: grid;
  gap: var(--gap);
  max-width: 500px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  padding: 20px;

  h2 {
    text-align: center;
  }

  form {
    gap: var(--gap);
  }

  .map {
    min-height: 300px;
    width: 100%;
  }

  .info,
  .result {
    display: grid;
    gap: 10px;
  }

  .result {
    transition: all 0.3s ease;

    &.hidden {
      pointer-events: none;
      overflow: hidden;
      height: 0;
    }
  }

  .info {
    p {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-bottom: 2px solid;
      border-right: 2px solid;
      border-left: 2px solid;

      &:nth-of-type(1) {
        border-top: 2px solid;
      }

      span {
        padding: 5px;
        font-weight: var(--fw-600);

        &:nth-of-type(2) {
          border-left: 2px solid;
          font-weight: var(--fw-400);
        }
      }
    }
  }
}
